@media handheld, only screen and (max-width: 1199px) {
    footer .brand {
        margin-top: 0;
    }
}
@media handheld, only screen and (max-width: 991px) {
    .heading {
        height: 150px;
    }
    .fancy-heading {
        margin-bottom: -42px;
    }
    .fancy-heading h2 {
        font-size: 80px;
    }
    footer .links-holder a {
        display: block;
        border-left: none;
        padding: 7px 0;

    }
    footer .logo-holder img {
        float: none;
        margin: 0 auto;
    }
    footer .brand {
        display: block;
        text-align: center;
        margin-top: 0;
        margin-bottom: 60px;
    }
}
@media handheld, only screen and (max-width: 767px) {
    #logo-holder {
        display: block;
        position: absolute;
        top: 0;
        left: 20px;
        width: 300px;
    }
    .heading .info {
        text-align: center;
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
    }
    .heading ul.nav {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 86px;

        font-size: 16px;
    }
    .fancy-heading {
        display: none;
    }
    footer .footer-top .row {
        margin-bottom: 20px;
    }
    footer .links-holder a {
        text-align: center;
    }
}
@media handheld, only screen and (max-width: 575px) {
    .brand {
        font-size: 16px;
        margin-top: 14px;
    }
    .header-logo {
        width: 70px;
    }
    /*#logo-holder {*/
        /*left: 10px;*/
    /*}*/
    .heading .info {
        text-align: center;
        font-size: 12px;
        /*right: 10px;*/
    }
    .heading ul.nav {
        margin-top: 70px;

        font-size: 16px;
    }
    .heading {
        height: 130px;
    }
}
@media handheld, only screen and (max-width: 359px) {
    .heading ul.nav {
        font-size: 14px;
    }
}
