body {
    background-color: #f2f2f2;
    color: #353535;
    font-family: "Arial",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    font-style: normal;
    padding: 0;
    word-wrap: break-word;

    background-image: url('/css/img/bg.png');
    background-repeat: repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: auto;
}
.body {
    min-height: 560px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", "Impact", sans-serif;
    font-weight: bold;
}

h1 { font-size: 36px; text-transform: uppercase; }
h2 { font-size: 30px; text-transform: uppercase;}
h3 { font-size: 25px; }
h4 { font-size: 22px; }
h5 { font-size: 20px; }
h6 { font-size: 18px; }

.btn {
    border-radius: 0 !important;
    border-width: 0;;
    padding: 10px 20px;
    font-size: 18px;
}
.btn-primary {
    background: #0098ca;
    color: #000;
}
.btn-primary:hover {
    background-color: #211F5F;
}


.brand {
    font-family: "Oswald", "Impact", sans-serif;
    color: #211F5F;
    display: inline-block;
    /*white-space: nowrap;*/
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin-top: 30px;
}

.heading {
    height: 124px;
    padding: 5px 20px;
    background: #fff;
}
.header-logo {
    display: block !important;
    float: left;
    width: 110px;
}
.heading ul.nav li {
    display: inline-block;
}
.heading ul.nav li a {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    color: #000000;

    text-decoration: none;
    display: block;
}
.heading ul.nav li.active a {
    color: #0098CA;
}
.heading ul.nav li a:hover {
    color: #0098CA;
}
.heading ul.nav li a:after {
    content: ' ';
    border: 1px solid transparent;
    transition: 0.4s ease-in-out;
    display: block;
    width: 0;
    margin: 2px auto 0 auto;
}
.heading ul.nav li.active a:after,
.heading ul.nav li:hover a:after{
    color: #0098CA;
    content: '';
    border-color: #075ead;
    width: 25px;
}
.heading .info {
    font-size: 16px;
}
.heading .info .line {
    display: block;
}

i.fa {
    color: #0098CA;
}



.hero {
    padding: 20px;
    background-color: #fff;

    background-image: url(/css/img/hero.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}
.hero .img-holder {
    margin: 20px;
}
.hero .text-inner {
    height: 100%;
}
.hero .sub-heading {
    font-size: 25px;
}

footer {
    background: #f4f4f4;
}

footer .footer-top {
    padding-top: 30px;
    padding-bottom: 10px;
}

/*footer .brand {*/
    /*margin-top: 0;*/
/*}*/
footer .copyright {
    padding: 10px 0;
    background: #211F5F;
    font-size: 13px;
    color: #fff;
}
footer .links-holder {
    padding: 10px 0;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0;
}
 footer .links-holder a {
     font-size: 18px;
     display: inline-block;
     padding: 0 20px;
     margin: 0 20px;
     margin-left: 0;
     padding-right: 0;
     height: 28px;
     line-height: 28px;
     text-decoration: none;;
     color: #000;
     border-left: solid 1px #000;
 }
 footer .links-holder a:first-child {
     padding-left: 0;
     border-left: none;
 }

footer .epa-img-holder {
    position: relative;
    width: 100%;
    height: 88px;
}
footer .epa-img-holder img {
    position: absolute;
    right: 0;
    display: block;
    margin: 0;
    width: 120px;
    height: 88px;
}
footer a {
    text-decoration: none;
    color: #000;;
}
